<div class="hero">
	<h3> hero section</h3>

</div>




{%-style-%}

.hero{
		height: 450px;
		background: grey;
		background-image:url({{'bg.jpeg' |  asset_url }});

		display: flex;
		align-items: center;
		justify-content: center;
	}

{%-endstyle-%}